body {
  background-color: #f8fafc;
  font-family: 'Poppins', sans-serif;
}

.navbar .nav-link.active {
  color: #007bff;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: #0056b3;
}

.btn-purple {
  background-color: #6f42c1;
  color: #fff;
}

.btn-purple:hover {
  background-color: #5a34a5;
}

.text-purple {
  color: #6f42c1;
}
