body {
  font-family: "Poppins", sans-serif;
  background-color: #f8fafc;
  color: #333;
}

h2 {
  color: #007bff;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f5ff;
}

.btn {
  font-weight: 500;
  border-radius: 6px;
}

.badge {
  font-size: 0.85rem;
  padding: 6px 10px;
  border-radius: 8px;
}

.badge-pendiente {
  background-color: #ffc107;
  color: #212529;
}

.badge-confirmada {
  background-color: #28a745;
}

.badge-cancelada {
  background-color: #dc3545;
}

.badge-completada {
  background-color: #17a2b8;
}

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
}

.modal-footer .btn-primary:hover {
  background-color: #0056b3;
}



.navbar .nav-link.active {
  color: #007bff;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: #0056b3;
}
